BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "XIn" 8.000000 MHz ;
IOBUF PORT "XIn" IO_TYPE=LVCMOS25 ;
LOCATE COMP "XIn" SITE "3" ;
LOCATE COMP "MYLED[0]" SITE "97" ;
LOCATE COMP "MYLED[1]" SITE "98" ;
LOCATE COMP "MYLED[2]" SITE "99" ;
LOCATE COMP "MYLED[3]" SITE "100" ;
LOCATE COMP "MYLED[4]" SITE "104" ;
LOCATE COMP "MYLED[5]" SITE "105" ;
LOCATE COMP "MYLED[6]" SITE "106" ;
LOCATE COMP "MYLED[7]" SITE "107" ;
LOCATE COMP "TX" SITE "44" ;
IOBUF PORT "TX" SLEWRATE=FAST IO_TYPE=LVCMOS33 DRIVE=8 ;
LOCATE COMP "TX_NCO" SITE "42" ;
IOBUF PORT "TX_NCO" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "RFIn[9]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "RFIn[0]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "RFIn[8]" PULLMODE=UP IO_TYPE=LVCMOS25 DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "MixerOutSin[19]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "MixerOutSin[18]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "MixerOutSin[17]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "MixerOutSin[16]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "MixerOutSin[15]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "MixerOutSin[14]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
LOCATE COMP "MixerOutSin[19]" SITE "75" ;
LOCATE COMP "MixerOutSin[18]" SITE "5" ;
LOCATE COMP "MixerOutSin[17]" SITE "6" ;
LOCATE COMP "RFIn[9]" SITE "32" ;
LOCATE COMP "RFIn[8]" SITE "33" ;
LOCATE COMP "RFIn[7]" SITE "34" ;
LOCATE COMP "RFIn[6]" SITE "35" ;
LOCATE COMP "RFIn[5]" SITE "25" ;
LOCATE COMP "RFIn[4]" SITE "26" ;
LOCATE COMP "RFIn[3]" SITE "27" ;
LOCATE COMP "RFIn[2]" SITE "28" ;
LOCATE COMP "RFIn[1]" SITE "19" ;
LOCATE COMP "RFIn[0]" SITE "1" ;
