BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "XIn" 8.000000 MHz ;
IOBUF PORT "XIn" IO_TYPE=LVCMOS25 ;
LOCATE COMP "XIn" SITE "3" ;
LOCATE COMP "MYLED[0]" SITE "97" ;
LOCATE COMP "MYLED[1]" SITE "98" ;
LOCATE COMP "MYLED[2]" SITE "99" ;
LOCATE COMP "MYLED[3]" SITE "100" ;
LOCATE COMP "MYLED[4]" SITE "104" ;
LOCATE COMP "MYLED[5]" SITE "105" ;
LOCATE COMP "MYLED[6]" SITE "106" ;
LOCATE COMP "MYLED[7]" SITE "107" ;
LOCATE COMP "TX" SITE "44" ;
IOBUF PORT "TX" SLEWRATE=FAST IO_TYPE=LVCMOS33 DRIVE=8 ;
LOCATE COMP "TX_NCO" SITE "42" ;
IOBUF PORT "TX_NCO" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "clk_adc" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "LOSine[9]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "LOSine[8]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "LOSine[7]" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
LOCATE COMP "LOSine[7]" SITE "143" ;
LOCATE COMP "LOSine[6]" SITE "142" ;
