#
# Logical Preferences generated for Lattice by Synplify map202309lat, Build 191R.
#

# Period Constraints 
#FREQUENCY NET "PLL1/osc_clk" 100.0 MHz;
#FREQUENCY NET "clk_adc" 100.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 

#MULTICYCLE FROM CLKNET "clk_adc"  TO CLKNET "clk_adc"  2X;
#MULTICYCLE FROM CLKNET "clk_adc"  TO CLKNET "clk_adc"  1X;


# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
